PORT=4003
CORS_ORIGIN=http://localhost:5173

# Service URLs (si vous les lancez sur la m??me machine)
MENU_SERVICE_URL=http://localhost:4001
CLIENT_SERVICE_URL=http://localhost:4002

# Exemple (?? adapter) :
# DATABASE_URL="mysql://USER:PASSWORD@localhost:3307/food_truck"
DATABASE_URL=mysql://USER:PASSWORD@localhost:3307/food_truck

